vlan_mapper/configs/*.txt
inventory/*.txt
vlan_mapper/nornir.log
grab_info/NXOS-1.txt
grab_info/NXOS-2.txt
grab_info/NXOS-1_info.txt
grab_info/NXOS-2_info.txt
reloader/CSR-2_info.txt
reloader/CSR-1_info.txt
graboid_worm/*.txt
upgrader/images/c3750-ipbasek9-mz.122-55.SE7.bin
upgrader/images/c3750-ipbasek9-mz.122-55.SE10.bin
bgp_route_mapper/output/CSR-1_route_maps.txt
bgp_route_mapper/output/CSR-2_route_maps.txt
bgp_route_mapper/output/CSR-3_route_maps.txt
bgp_route_mapper/output/route_map_logs.txt
stack_upgrader/images/c3750-ipservicesk9-mz.122-55.SE12.bin
stack_upgrader/images/c3750-ipservicesk9-tar.122-55.SE12.tar
